:VPN_SERVER_IP_PLACEHOLDER
ipcp-accept-local
ipcp-accept-remote
noipdefault
nodetach
refuse-eap
require-mschap-v2
noccp
noauth
logfile /var/log/xl2tpd.log
mtu MTU_PLACEHOLDER
mru MRU_PLACEHOLDER
defaultroute
replacedefaultroute
usepeerdns
lcp-echo-failure 0
lcp-echo-interval 0
PPP_DEBUG_PLACEHOLDER
name USER_PLACEHOLDER
password PASS_PLACEHOLDER
