[global]
access control = yes
port = 0
debug avp = XL2TPD_DEBUG_PLACEHOLDER
debug network = XL2TPD_DEBUG_PLACEHOLDER
debug state = XL2TPD_DEBUG_PLACEHOLDER
debug tunnel = XL2TPD_DEBUG_PLACEHOLDER

[lac vpn-connection]
lns = VPN_SERVER_IP_PLACEHOLDER
ppp debug = XL2TPD_DEBUG_PLACEHOLDER
pppoptfile = /etc/ppp/options.l2tpd.client
autodial = yes
length bit = yes
redial = yes
redial timeout = 15
max redials = 5
tunnel rws = 16
tx bps = 1000000000
rx bps = 1000000000
